*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.content{
  width:100vw;
  height: 125vh;
  display: flex;
}

.top-content{
  font-weight: 500;
  width: 90%;
  font-size: 1.2rem;
  padding:0;
}

.text{
  margin:1rem
}

.side-image{
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?auto=format&fit=crop&q=80&w=687&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  width:40%;
  height: 125vh;
  flex-flow: column nowrap;
}

.main{
  display:inline-block;
  height: 125vh;
  width: 60vw;
  flex-flow: column nowrap;
  background: linear-gradient(135deg, #71b736, #9b59b6);
  overflow: hidden;
}

.mid-container{
  max-width: auto;
  width:100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  flex-flow: column nowrap;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

#lets{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.mid-content{
  display: flex;
  flex-direction: row;
}

form{
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.input-data{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left:15px;
}

.input-container{
  width: calc(100%/ 2 - 20px);
  margin: 20px 1rem 12px 0;
}

.label{
  display: block;
  font-weight: 500;
  margin-bottom:10px;
  border: 1px solid red;
  font-size: .9rem ;
}

.create-account{
  padding:.5rem 2rem;
  margin:2rem 2.5rem;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.bottom-text{
  display: flex;
  gap:1rem;
}