*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
}

.content{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin:0;
}

.logo{
  height: 20px;
  width: fit-content;
  background-color: none;
  position: relative;
  top:20vh;
  gap:1vw;
  padding:15px 0;
  opacity:.7 ;
}

.side-image{
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?auto=format&fit=crop&q=80&w=687&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: max(40%, 275px);
  height: auto;
  margin:0;
  padding:0;
  flex-grow: 1;
}

.main{
  margin:0;
  border: 1px solid red;
  background-color: rbg(249, 250, 251);
  height: 125vh;
  display: flex;
  width: 60%;
  flex-direction: column;
  padding:0 0 0;
  gap:3rem;
  flex-grow: 1;
}

.mid-content{
  border: 1px solid red;
  width:auto;
  height: 60vh;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}



form{
  width:100%;
}

.info-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:1rem;
}

.top-content{
  display: flex;
  flex-direction: column;
  padding:0;
  border: 1px solid red;
}

.text{
  margin:1rem;
  padding:0;
  font-size: x-large;
}

.info-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  width:390px;
  height: 40vh;
  border:1px solid blue;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

.input-data{
  padding:.5rem;
  width: auto;
}

.create-account{
  margin:2rem 2rem;
  padding:.5rem 2rem;
}

:invalid{

}

:valid{

}

.bottom-text{
  margin: 0 2rem;
  display: flex;
  gap:.3rem;
}